# This definition stops the following lines choking if HOME isn't
# defined.
HOME        = .
RANDFILE    = $ENV::HOME/.rnd
oid_section = new_oids
CANAME      = JUNKCA

# To use this configuration file with the "-extfile" option of the
# "openssl x509" utility, name here the section containing the
# X.509v3 extensions to use:
# extensions            = 
# (Alternatively, use a configuration file that has only
# X.509v3 extensions in its main [= default] section.)

[ new_oids ]

####################################################################
[ ca ]
default_ca = CA_default    # The default ca section

####################################################################
[ CA_default ]
dir              = database/$CANAME  # Where everything is kept
certs            = $dir/certs
crl_dir          = $dir/crl
database         = $dir/index.txt
unique_subject   = no                # Set to 'no' to allow creation of
                                            # several ctificates with same subject.
new_certs_dir    = $dir/newcerts

certificate      = $dir/cacert.pem
serial           = $dir/serial
crlnumber        = $dir/crlnumber
crl              = $dir/crl.pem
private_key      = $dir/private/cakey.pem
RANDFILE         = $dir/private/.rand

x509_extensions  = v3_ca

# Comment out the following two lines for the "traditional"
# (and highly broken) format.
name_opt         = ca_default   # Subject Name options
cert_opt         = ca_default   # Certificate field options

#email_in_dn      = no

crl_extensions   = crl_ext

default_days     = 30
default_crl_days = 30
default_md       = sha256
preserve         = yes

# A few difference way of specifying how similar the request should look
# For type CA, the listed attributes must be the same, and the optional
# and supplied fields are just that :-)
policy           = policy_anything

# For the 'anything' policy
# At this point in time, you must list all acceptable 'object'
# types.
[ policy_anything ]
countryName            = optional
stateOrProvinceName    = optional
localityName           = optional
organizationName       = optional
organizationalUnitName = optional
commonName             = optional
emailAddress           = optional

####################################################################
[ req ]
default_bits       = 2048
default_keyfile    = privkey.pem
distinguished_name = dummy_req_distinguished_name
default_md         = sha256
x509_extensions    = v3_ca
string_mask        = utf8only

# Passwords for private keys if not present they will be prompted for
# input_password = secret
# output_password = secret

[ dummy_req_distinguished_name ]

[ v3_ca ]
basicConstraints       = critical,CA:true
keyUsage               = critical,cRLSign,keyCertSign
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always

[ v3_subca ]
basicConstraints       = critical,CA:true
keyUsage               = critical,cRLSign,keyCertSign
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always
crlDistributionPoints  = URI:http://my.pki.website/path/to/root.crl
certificatePolicies    = anyPolicy

[ v3_user ]
basicConstraints       = critical,CA:false
keyUsage               = digitalSignature,nonRepudiation,keyEncipherment
extendedKeyUsage       = clientAuth
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always
#subjectAltName        = otherName:msUPN;UTF8:$ENV::UPN
crlDistributionPoints  = URI:http://my.pki.website/path/to/root.crl

[ v3_server ]
basicConstraints       = critical,CA:false
keyUsage               = digitalSignature,keyEncipherment
extendedKeyUsage       = serverAuth
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always
#subjectAltName        = DNSN:$ENV::FQDN
crlDistributionPoints  = URI:http://my.pki.website/path/to/root.crl

[ v3_ev_server ]
basicConstraints       = critical,CA:false
keyUsage               = digitalSignature,keyEncipherment
extendedKeyUsage       = serverAuth
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always
certificatePolicies    = 1.3.6.1.4.1.5607.998.1
#subjectAltName        = DNS:$ENV::FQDN
crlDistributionPoints  = URI:http://my.pki.website/path/to/root.crl
# ajouter les infos du DN

[ v3_ocspsigner ]
basicConstraints       = critical,CA:false
keyUsage               = digitalSignature
extendedKeyUsage       = OCSPSigning
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always
noCheck                = ignored

[ crl_ext ]
authorityKeyIdentifier = keyid:always
